# Pandas

In [2]:
import pandas as pd

In [5]:
fruits=['apple','orange','cherry','grape','blueberry']
quantities=[5,3,6,2,3]

In [6]:
#Series
S=pd.Series(fruits,quantities)

In [9]:
S

5        apple
3       orange
6       cherry
2        grape
3    blueberry
dtype: object

# DataFrame

In [11]:
frutas_costa=['Platano','coco','piña']
frutas_sierra=['mandarina','guaba','chirimoya']
index=["a,b,c".split(",")]

In [14]:
todas_las_frutas={'Costa':frutas_costa,'Sierra':frutas_sierra}
print(todas_las_frutas)

{'Costa': ['Platano', 'coco', 'piña'], 'Sierra': ['mandarina', 'guaba', 'chirimoya']}

Frutas indexadas

In [16]:
frutas_indexadas=pd.DataFrame(todas_las_frutas,index=index)
print(frutas_indexadas)

     Costa     Sierra
a  Platano  mandarina
b     coco      guaba
c     piña  chirimoya

In [17]:
frutas_indexadas.to_csv('frutas.csv')

In [21]:
frutas_indexadas.to_json('frutas.json')

In [19]:
df=pd.read_csv('frutas.csv',index_col=0)

In [22]:
df

     Costa     Sierra
a  Platano  mandarina
b     coco      guaba
c     piña  chirimoya

In [23]:
df2=pd.read_json('frutas.json')

In [24]:
df2

          Costa     Sierra
('a',)  Platano  mandarina
('b',)     coco      guaba
('c',)     piña  chirimoya

In [32]:
cars=['BMW','Toyota','Ford','Mazda','Mercedes']
colors=['Red','Blue','White','Black','Green']
precies=[50000,25000,30000,35000,45000]
index=['a','b','c','d','e']

In [37]:
cars_indexed=pd.DataFrame({'Cars':cars,'Colors':colors,'Precies':precies},index=index)

In [39]:
cars_indexed

       Cars Colors  Precies
a       BMW    Red    50000
b    Toyota   Blue    25000
c      Ford  White    30000
d     Mazda  Black    35000
e  Mercedes  Green    45000

In [40]:
cars_indexed.to_json('cars.json')

In [41]:
df2=pd.read_json('cars.json')

In [43]:
df2

       Cars Colors  Precies
a       BMW    Red    50000
b    Toyota   Blue    25000
c      Ford  White    30000
d     Mazda  Black    35000
e  Mercedes  Green    45000